@import "theme/colors/light.css";
@import "theme/colors/dark.css";
@import "theme/icons/icons.css";
@import "theme/parts/icons-shared.css";

/* multi-message thread styling */
#headingWrapper,
#attachmentBar {
  background: var(--gnome-window-background) !important;
  padding: 10px !important;
  border-bottom: none !important;
}

/* multi-message thread styling */
#headingWrapper,
#attachmentBar {
  background: var(--gnome-window-background) !important;
  padding: 15px !important;
  border-bottom: none !important;
}

#heading {
  align-items: flex-start !important;
  display: flex !important;
  font-weight: 700 !important;
  flex-direction: column !important;
  gap: 4px !important;
  padding-left: 14px !important;
}

span#size {
  font-size: 12px !important;
  padding-left: 10px !important;
}

span#summarySubtitle {
  font-weight: normal !important;
  margin-inline-start: 0px !important;
}

#messageList > li {
  margin-top: 10px !important;
  padding-bottom: 20px !important;
  border-bottom: none !important;
  position: relative !important;
}

/* for narrowing the multi-message thread borders */
#messageList > li::after {
  content: "" !important;
  position: absolute !important;
  bottom: 0 !important;
  left: 10px !important;
  right: 10px !important;
  height: 1px !important;
  background: color-mix(in srgb, var(--sidebar-border-color) 30%, transparent) !important;
}

/* verified */
menulist#abPopup,
html#MailPreferences menulist {
  font-weight: 400 !important;
}

/* verified */
menulist#addContactBookList,
menulist#abPopup,
html#MailPreferences menulist,
discovery-pane button,
button#remoteContentExceptions,
article#viewContact button,
vbox#containerBox select,
div#booksPane button, /* import, up, down*/
addon-card button, /* settings */
addon-list button, /* settings */
form#editContactForm div#detailsFooter.button-block button {
  border-radius: 6px !important;
  height: 34px !important;
  min-height: 34px !important;
  max-height: 34px !important;
  min-width: 34px !important;
  border: none !important;
  font-size: 15px !important;
  /*font-weight: 700 !important;*/
  -moz-box-align: center !important;
  overflow: hidden !important;
}

hbox button,
.dialog-menu-container button,
html#MailPreferences button,
form#editContactForm select,
html#messengerWindow select,
html#calendar-summary-dialog button,
html#CustomizeToolbarWindow button {
	border-radius: 6px !important;
  border: 0 !important;
  font-weight: 700 !important;
  padding: 2px 15px !important;
  height: 34px !important;
	max-height: 34px !important;
	min-height: 34px !important;
	min-width: 34px !important;
  overflow:hidden !important;
}
/*
input:not([type="checkbox"], [inputmode="search"], .input-pill),
.themeableSearchBox {
  transition: outline 0.3s, outline-offset 0.3s !important;
}
*/
/* verified, buttons with icons */
button#deleteAccount,
button#accountTreeCreateAccount,
button#booksPaneCreateContact {
  color: var(--gnome-palette-light-1) !important;
  height: 34px !important;
  min-height: 34px !important;
  max-height: 34px !important;
  min-width: 140px !important;
  --icon-size: 16px !important;
  background-size: var(--icon-size) !important;
  background-position: var(--button-padding) !important;
  border: none !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  padding-inline-start: calc(9px * 1.5 + 16) !important;
  padding-inline-end: calc(var(--button-padding) * 2) !important; 
  outline: 0 !important;
  -moz-box-align: center !important;
}
/* set default color for colored buttons */
hbox.dialog-button-box button[dlgtype="accept"],
button#saveEditButton,
button#booksPaneCreateContact {
  background-color: var(--gnome-button-suggested-action-background) !important; 
}

button#deleteAccount {
  --icon-trash: url("theme/icons/user-trash-symbolic.svg") !important; 
  list-style-image: var(--icon-trash) !important;
	fill: var(--gnome-palette-light-1) !important;
  stroke: none !important;
}

#accounttree {
  & li {
    & .icon {
      fill: var(--icon-color) !important;
      stroke: none !important;
    }
  }
}

/* Buttons with destructive actions */ 
button#detailsDeleteButton { 
  color: var(--gnome-palette-light-1) !important;
  background-color: light-dark(var(--color-red-60), var(--color-red-50)) !important;
}
/* End Buttons with destructive actions */ 

hbox.dialog-button-box button[dlgtype="accept"]:active,
html#MailPreferences button#qrExportStart.end:not(#hack):active,
button#saveEditButton.primary:active:not([disabled="true"]),
button#accountTreeCreateAccount:active:not([disabled="true"]),
.button.button-primary:not(#hack):active,
html#MailPreferences button:active:not([disabled="true"]),
button#detailsDeleteButton:active:not([disabled="true"]) {
  filter: brightness(80%) !important;
}

hbox.dialog-button-box button[dlgtype="accept"]:hover,
html#MailPreferences button#qrExportStart.end:not(#hack):hover,
button#saveEditButton.primary:hover:not([disabled="true"]),
button#accountTreeCreateAccount:hover:not([disabled="true"]),
html#MailPreferences button:hover:not([disabled="true"]),
.button.button-primary:not(#hack):hover,
button#detailsDeleteButton:hover:not([disabled="true"]){
  filter: brightness(110%) !important;
}

hbox.dialog-button-box button[dlgtype="accept"]:hover,
html#MailPreferences button#qrExportStart.end:not(#hack):hover,
.button.button-primary:not(#hack):hover,
button#saveEditButton.primary:not(#hack):hover {
	background-color: var(--gnome-button-suggested-action-background) !important;
}

.vcard-year-month-day-container {
  & select:not([size], [multiple]), & input[type="number"] {
    background-color: var(--button-background-color) !important;
  }
}

/* Settings Account Manager */
hbox#label-box label#label {
  font-weight: 700 !important;
}

tree-view#cards tr.card-layout {
	background: var(--gnome-secondary-sidebar-background) !important;
	height: auto !important;
	
	/* Spacing */
	td {
		padding: 12px 12px !important;
	}
	&:not(:first-child) td {
		padding-top: 0 !important;
	}
	/* Card */
	.card-container {
		--thread-card-content-gap: 6px !important;
		background: none !important;
		border: 0 !important;
		border-radius: 6px !important;
		grid-template-columns: 1fr !important;
		min-height: 60px !important;

		/* Remove selected indicator */
		&::before {
			content: none !important;
		}
	}
	&:hover .card-container {
		box-shadow: none !important;
	}
	&:not(.selected):hover .card-container {
		background: var(--gnome-hover-color) !important;
	}
	&.selected .card-container {
		background: var(--gnome-selected-color) !important;
	}
}

#booksPane {
 --sidebar-background-color: var(--gnome-sidebar-background) !important;
 --sidebar-background: var(--sidebar-background-color) !important;
}

/* Contact Details */
#detailsPane {
  background: var(--gnome-window-background) !important;
}

#detailsBody {
  & section:not([class="button-block"]) {
	  background: var(--gnome-card-background) !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) !important;
    border-radius: 8px !important;
  }
  & section:is([class="button-block"]) {
    background: var(--gnome-window-background) !important;
  }
  & section {
	  border: 0px !important;
  }
}

div#detailsPane div#detailsBody ul.entry-list li.entry-item span.entry-type {
  font-size: 1rem !important;
  font-weight: normal !important;
  text-transform: none !important;
  opacity: 0.5 !important;
}

div#detailsPane div#detailsBody span.entry-value a {
  text-decoration: none !important;
  color: inherit !important;
}

/* End Contact Details */

/* Contacts Popups */
menupopup#bookContext, 
menupopup#cardContext,
menupopup#sortContext,
#bookContext slot[part="content"],
#cardContext slot[part="content"],
#sortContext slot[part="content"] {
	--panel-padding: 0 !important;
	--panel-color: var(--gnome-menu-color) !important;
	--panel-background: var(--gnome-menu-background) !important;
	--panel-border-radius: 12px !important;
	--panel-border-color: var(--gnome-menu-border-color) !important;
	--panel-shadow: var(--gnome-menu-shadow) !important;
	--panel-shadow-margin: 6px !important;
	--arrowpanel-background: var(--gnome-menu-background) !important;
	--arrowpanel-border-radius: 12px !important;
}

menupopup#bookContext, 
menupopup#cardContext,
menupopup#sortContext {
  -moz-appearance: none !important;
  color: var(--gnome-toolbar-color) !important;
  padding: 8px !important;
}

arrowscrollbox.menupopup-arrowscrollbox {
	-moz-appearance: none !important;
	background: var(--gnome-menu-background) !important;
	border: 1px solid var(--gnome-border-color) !important;
	border-radius: 12px !important;
	box-shadow: var(--gnome-menu-shadow) !important;
	padding: 6px !important;
	margin-bottom: 20px !important;
}

menupopup#bookContext menuitem,
menupopup#cardContext menuitem,
menupopup#sortContext menuitem {
	-moz-appearance: none !important;
	border-radius: 6px !important;	
	color: var(--gnome-window-color) !important;
	font: menu !important;
	padding: 4px 12px !important;
	min-height: 32px !important;
}

menuitem:is([type="checkbox"], [checked="true"]) .menu-iconic-icon,
menuitem[type="radio"] .menu-iconic-icon {
	appearance: none !important;
}
menuitem:not(.menuitem-iconic) {
	padding-right: 18px !important;
}
menuitem :is(label, description)[value][crop]::before {
	min-width: min-content !important;
}
menuitem:not([acceltext]) .menu-accel-container {
	visibility: collapse !important;
}
menuitem[type="checkbox"] image, menuitem[type="radio"] image {
	visibility: visible !important;
}
menuitem[disabled="true"]:hover, menupopup menu[disabled="true"]:hover {
	background: transparent !important;
}

menuseparator {
	padding: 0 !important;
  border-top: 1px solid var(--gnome-menu-separator-color) !important;
	margin: 6px 0 !important;
  appearance: none !important;
}

menuseparator::before {
	display: none !important;
}

div#booksPane div.bookRow-container.container {
  	background: none !important;
		border: 0 !important;
		border-radius: 6px !important;

  	&::before {
			content: none !important;
		}
    &:hover {
      box-shadow: none !important;
    }
    &:not(.selected):hover {
      background: var(--gnome-hover-color) !important;
    }
    &.selected {
      background: var(--gnome-selected-color) !important;
    }
    span.bookRow-name {
      font-size: 1rem !important;
    }
}

hr#booksSplitter, hr#sharedSplitter {
	--splitter-occupy-size: 0px !important;
}

/* check icons on menus */
menuitem :is([type="checkbox"]),
menupopup#menupopup-column-picker,
menupopup#bookContext, 
menupopup#sortContext {
  & > :is(menu, menuitem) {
    &[checked="true"], &[selected="true"] {
      stroke: none !important;
      fill: var(--gnome-toolbar-color) !important;
    }
  }
}

/* ... icon in themes and addon dialog */
div.addon-name-container button.more-options-button {
  background-image: url("chrome://global/skin/icons/more.svg") !important;
}

/* Entries */
dialog#ablistWindow input,
form input:not([type="checkbox"]) {
	height: 34px !important;
	max-height: 34px !important;
}


#containerBox input,
table.identity-table input#identity,
html#MailPreferences body stack#preferences-stack input:not([type="checkbox"]),
form#editContactForm div.vcard-adr-inputs textarea#vcard-id-17,
dialog#ablistWindow input,
form input:not([type="checkbox"]),
form#editContactForm textarea,
vcard-edit textarea {
	-moz-appearance: none !important;
	background: var(--gnome-entry-background) !important;
	outline: 2px solid transparent !important;
	border: 0 !important;
	border-radius: 8px !important;
	box-shadow: none !important;
	color: var(--gnome-entry-color) !important;
	padding: 6px 9px !important;
	box-sizing: border-box;
}

#containerBox input:focus,
html#MailPreferences body stack#preferences-stack input:focus,
dialog#ablistWindow input:focus,
input:not([type="checkbox"]):focus {
	outline: 2px solid var(--selected-item-color) !important;
	outline-offset: -2px !important;
  box-shadow: none !important;
}

div#quick-filter-bar input:-moz-window-inactive {
	color: var(--gnome-inactive-entry-color) !important;
	outline: 2px solid transparent !important;
}

#addressBookTab0 moz-button::part(button),
input::-moz-search-clear-button {
  fill: none !important;
  padding: 4px !important;
	transform: translateX(-18px) !important; 
}

/* search bar */ 
form button#search-button.button {
  &.button-flat.icon-button {
    padding: 8px !important;
  }
}
/* end search bar */
#cardsPane {
  background-color: var(--sidebar-background) !important;
}

/* no search results */
#placeholderNoSearchResults::before {
    background-image: var(--icon-contact) !important;
}

#cardsPane slot[name="placeholders"] {
  & div::before {
    content: "" !important;
    display: block !important;
    block-size: 64px !important;
    margin-block-end: 9px !important;
    background-position: center top !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    -moz-context-properties: fill, stroke, fill-opacity !important;
    fill: color-mix(in srgb, currentColor 20%, transparent) !important;
    stroke: currentColor !important;
    fill-opacity: var(--toolbarbutton-icon-fill-opacity) !important;
  }
}

slot[name="placeholders"] {
  inset: 50% 0 auto !important;
  opacity: 1 !important;
  transform: translateY(-50%);
}

#placeholderNoSearchResults {
  fill-opacity: 1 !important;
  font-size: 20px !important;
  font-weight: 800 !important;
  text-shadow: none !important;
}
/* no search results end */

div#cardsPane tree-view#cards {
  background-color: inherit !important;
}

/* Icons */
button#buttonABSdownload.button.button-flat.icon-button {
  background-image: var(--icon-download) !important;
}

button#buttonABSupload.button.button-flat.icon-button {
  background-image: var(--icon-upload) !important;
}

/* Buttons with Icons */
#preferences-stack input#searchInput[type="search"],
#qrExportSecurityLegend::before,
#qrExportAccountsLegend::before,
.button#search-button,
div#detailsPane .button,
div#cardsPane .button,
div#booksPane .button {
	fill: var(--gnome-toolbar-icon-fill) !important;
	-moz-context-properties: fill, fill-opacity !important;
}

div#booksPane button#booksPaneCreateList.button.button-flat.icon-button.icon-only {
  fill: var(--gnome-toolbar-icon-fill) !important;
  stroke: none !important;
  fill-opacity: 0.6 !important;
  background-image: var(--gnome-icon-contact-new-symbolic) !important;
}

#books {
  & .bookRow-container, & .listRow-container {
    /*-moz-context-properties: none !important;*/
    fill: var(--gnome-toolbar-icon-fill) !important;
    stroke: none !important
  }
}

form#editContactForm .button.icon-button {
  fill: var(--gnome-palette-light-1) !important;
}

.add-property-button {
  &::before {
    fill: var(--gnome-palette-light-1) !important; 
  }
}

/* remove indicator in account settings ->account list */
:is(ul, ol)[role="tree"] {
  & .container {
    &::before{
      content: none !important
    } 
  }
}

label.sidebar-footer-label,
label.category-name,
span.category-name,
span.name {
  font-size: 1rem !important;
}

/* Checkbox */
checkbox:not(.treenode-checkbox) > .checkbox-check {
	appearance: none !important;
	border: 0 !important;
	border-radius: 6px !important;
	color: var(--gnome-window-color) !important;
	height: 20px !important;
	width: 20px !important;
}
checkbox:not(.treenode-checkbox) > .checkbox-check:not([checked]) {
	background-color: transparent !important;
	box-shadow: inset 0 0 0 2px var(--gnome-trough-background);
}
checkbox:not(.treenode-checkbox) > .checkbox-check:not([checked]):hover {
	box-shadow: inset 0 0 0 2px var(--gnome-trough-hover-background);
}
checkbox:not(.treenode-checkbox) > .checkbox-check[checked] {
	background-color: var(--gnome-accent-bg) !important;
	background-image: var(--gnome-icon-select-symbolic) !important;
	background-size: 14px !important;
	background-repeat: no-repeat;
	background-position: center;
	fill: white !important;
	-moz-context-properties: fill;
}


/* Radio */
radio > .radio-check {
	appearance: none !important;
	border: 0 !important;
	border-radius: 50% !important;
	color: var(--gnome-window-color) !important;
	height: 20px !important;
	padding: 3px !important;
	width: 20px !important;
}
radio > .radio-check:not([selected]) {
	background-color: transparent !important;
	box-shadow: inset 0 0 0 2px var(--gnome-trough-background);
}
radio > .radio-check:not([selected]):hover {
	box-shadow: inset 0 0 0 2px var(--gnome-trough-hover-background);
}
radio > .radio-check[selected] {
	background-color: var(--gnome-accent-bg) !important;
	list-style-image: var(--gnome-icon-bullet-symbolic) !important;
	fill: white !important;
	-moz-context-properties: fill;
}
