/* Buttons Issues/Glitches fixes */
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

.button.check-button:before {
	display: none !important;
}
.button.check-button[aria-pressed="true"] {
	box-shadow: none !important;
}
.button.check-button.icon-button:not(.collapsible-button) {
	background-position: center !important;
}

.button-group {
	border: none !important;
	margin: 0 !important;
}

.unified-toolbar-button {
	justify-content: center !important;
}

.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-dropmarker {
	align-items: center !important;
	justify-content: center !important;
	padding: 9px 4px !important;;
}
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-dropmarker::before,
.toolbarbutton-1:is([is="toolbarbutton-menu-button"]) > .toolbarbutton-menubutton-button::after {
	display: none !important;
}

.toolbarbutton-1[disabled="true"] .toolbarbutton-icon,
.toolbarbutton-1[disabled="true"] .toolbarbutton-text,
.toolbarbutton-1[disabled="true"] .toolbarbutton-menu-dropmarker,
.toolbarbutton-1[disabled="true"] > .toolbarbutton-menubutton-dropmarker {
	opacity: 1 !important;
}

/* Menulist */
link[href="chrome://global/skin/menulist.css"] ~ dropmarker {
	align-items: center !important;
	margin-inline-start: 3px;
}

/* Spaces toolbar */
.spaces-toolbar-button.current,
.spaces-toolbar-button.current:hover {
	background-color: var(--spaces-button-active-bg-color) !important;
}

.spaces-toolbar-button:not([hidden]) {
	align-items: center;
	justify-content: center;
	display: flex !important;
}

/* App menu */
#appMenu-fontSizeReset-button {
	flex: unset !important;
}
#appMenu-fontSizeReset-button > .toolbarbutton-text {
	border: 0 !important;
	padding: 0 !important;
	min-width: 0 !important;
}
#appMenu-fontSizeReset-button:hover > .toolbarbutton-text {
	background: none !important;
}

/* Calendar buttons */
#imip-view-toolbar > .toolbarbutton-1.message-header-view-button,
#imip-view-toolbar > .toolbarbutton-1.message-header-view-button > .toolbarbutton-menubutton-button,
#imip-view-toolbar > .toolbarbutton-1.message-header-view-button > .toolbarbutton-menubutton-dropmarker {
	background-image: none !important;
}
.miniday-nav-buttons:active,
#miniday-dropdown-button:is(:active, [open]),
#todaypane-new-event-button:active {
	box-shadow: none !important;
}

#todaypane-new-event-button[disabled="true"] > .toolbarbutton-icon {
	opacity: 1 !important;
}

/* Message buttons */
.toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled="true"]):hover:active,
.toolbarbutton-1[open="true"] > .toolbarbutton-menubutton-dropmarker:not([disabled="true"]),
.toolbarbutton-1:not([is="toolbarbutton-menu-button"],[disabled="true"]):is([open="true"],[checked="true"],:hover:active),
.address-pill:not([disabled="true"]):hover {
	box-shadow: none !important;
}

/* Icon with empty label */
#offline-status > .toolbarbutton-text {
	display: none !important;
}

/* Today panel button */
#calendar-status-todaypane-button .toolbarbutton-icon-end {
	display: none;
}

/* Composer Window, Landing Page */
button#donebutton,
toolbarbutton#button-saveandclose,
toolbarbutton#button-send, 
#button-send, 
#setupEmail, 
#setupAddressBook, 
#setupCalendar, 
#setupFilelink, 
#setupChat,
#setupFeeds, 
#setupNewsgroups,
#importButton {
  background-color: var(--gnome-accent-bg) !important;
  font-weight: 700 !important;
}

button#donebutton,
button#setupEmail.btn-hub.btn-inline,
toolbarbutton#button-saveandclose.toolbarbutton-1 label.toolbarbutton-text,
toolbarbutton#button-send.toolbarbutton-1 label.toolbarbutton-text, 
button#setupEmail, 
button#setupAddressBook, 
button#setupCalendar, 
button#setupFilelink, 
button#setupChat,
button#setupFeeds, 
button#setupNewsgroups,
button#importButton {
  color: var(--gnome-palette-light-1) !important;
}

button#restoreDefault:active:not([disabled="true"]), 
button#donebutton:hover:not([disabled="true"]), 
toolbarbutton#button-saveandclose:hover:not([disabled="true"]), 
#button-send:hover:not([disabled="true"]), 
#setupEmail:hover:not([disabled="true"]), 
#setupAddressBook:hover:not([disabled="true"]), 
#setupCalendar:hover:not([disabled="true"]), 
#setupFilelink:hover:not([disabled="true"]), 
#setupChat:hover:not([disabled="true"]),
#setupFeeds:hover:not([disabled="true"]),
#setupNewsgroups:hover:not([disabled="true"]),
#importButton:hover:not([disabled="true"]){
  filter: brightness(1.1) !important;; 
}

button#restoreDefault:hover:not([disabled="true"]), 
button#donebutton:active:not([disabled="true"]), 
#setupEmail:active:not([disabled="true"]), 
#setupAddressBook:active:not([disabled="true"]), 
#setupCalendar:active:not([disabled="true"]), 
#setupFilelink:active:not([disabled="true"]), 
#setupChat:active:not([disabled="true"]),
#setupFeeds:active:not([disabled="true"]), 
#setupNewsgroups:active:not([disabled="true"]),
#importButton:active:not([disabled="true"]),
toolbarbutton#button-saveandclose:active:not([disabled="true"]),
#button-send:active:not([disabled="true"]) {
  filter: brightness(0.8) !important;
}

toolbarbutton#button-saveandclose .toolbarbutton-icon,
toolbarbutton#button-saveandclose .toolbarbutton-text 
#button-send .toolbarbutton-icon,
#button-send .toolbarbutton-text {
  fill: var(--gnome-palette-light-1) !important;
  color: var(--gnome-palette-light-1) !important;
}

#setupEmail, 
#setupAddressBook, 
#setupCalendar, 
#setupFilelink, 
#setupChat, 
#setupFeeds, 
#setupNewsgroups,
#importButton {
  fill: var(--gnome-accent-bg) !important;
  color: var(--gnome-palette-light-1) !important;
  stroke: var(--gnome-palette-light-1) !important;
  -moz-context-properties: fill, stroke !important;
}

.btn-hub {
  box-shadow: none !important;
  stroke: none !important;
}

/* Mail Composer */
button#toButton hbox.box-inherit.button-box label.button-text::before {content: "To" !important;}
button#ccButton hbox.box-inherit.button-box label.button-text::before {content: "CC" !important;}
button#bccButton hbox.box-inherit.button-box label.button-text::before {content: "BCC" !important;}

html#CustomizeToolbarWindow button {
	border-radius: 6px !important;
  border: 0 !important;
  font-weight: 700 !important;
  padding: 2px 15px !important;
  height: 34px !important;
	max-height: 34px !important;
	min-height: 34px !important;
	min-width: 34px !important;
}